<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/comparePriceStyle.css">
</head>

<body>
  <h1 style = "text-align: center;"> 메뉴바 </h1>
  <div class = "total-table-wrapper">
    <div class = "table-wrapper">
      <button class = "table-title-button"> A마트 장보기 </button>
      <div class = "table-header">
        <table>
          <thead>
            <tr>
              <th> 품목 </th>
              <th> 가격 </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class = "table-content">
        <table>
          <tbody>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
            <tr>
              <td> test </td>
              <td> test </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class = "table-footer">
        <table>
          <tfoot>
            <tr>
              <td> 1,000,000,000,000원 </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <div class = "table-wrapper">
      <button class = "table-title-button"> A마트 영수증 </button>
      <div class = "table-header">
        <table>
          <thead>
          <tr>
            <th> 품목 </th>
            <th> 가격 </th>
          </tr>
          </thead>
        </table>
      </div>

      <div class = "table-content">
        <table>
          <tbody>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          <tr>
            <td> test </td>
            <td> test </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class = "table-footer">
        <table>
          <tfoot>
            <tr>
              <td> 1,000,000,000,000원 </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class = "next-button-wrapper">
    <button class = "next-button"> 다음 </button>
  </div>
</body>
</html>