<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/comparePriceStyle.css">
</head>

<body>
  <div id="compare-page">
    <h1 style = "text-align: center;"> 메뉴바 </h1>
    <div class = "total-table-wrapper">
      <!-- 왼쪽 테이블 -->
      <div class = "table-wrapper">
        <button class = "table-title-button" :disabled = "!isActivated"> {{ firstTitle }} </button>
        <div class = "table-header">
          <table>
            <thead>
              <tr>
                <th> 품목 </th>
                <th> 가격 </th>
              </tr>
            </thead>
          </table>
        </div>

        <div class = "table-content">
          <table>
            <tbody>
              <tr v-for="(item, index) in leftItems" :key="index" @click="addToRight(item)">
                <td> {{ item.name }} </td>
                <td> {{ item.price }} </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class = "table-footer">
          <table>
            <tfoot>
              <tr v-if = "clickCount % 3 == 2">
                <td> {{ leftTotal }}원 </td>
              </tr>
              <tr v-else>
                <td> &nbsp; </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <!-- 오른쪽 테이블 -->
      <div class = "table-wrapper">
        <button class = "table-title-button" :disabled = "!isActivated"> {{ secondTitle }} </button>
        <div class = "table-header">
          <table>
            <thead>
            <tr>
              <th> 품목 </th>
              <th> 가격 </th>
            </tr>
            </thead>
          </table>
        </div>

        <div class = "table-content">
          <table>
            <tbody>
              <tr v-for="(item, index) in rightItems" :key="'r' + index" @click="removeFromRight(index)">
                <td> {{ item.name }} </td>
                <td> {{ item.price }} </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class = "table-footer">
          <table>
            <tfoot>
              <tr>
                <td> {{ rightTotal }}원 </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div class = "next-button-wrapper">
      <button class = "next-button" @click = "toNext"> 다음 </button>
    </div>

    <p> 클릭 횟수 : {{ clickCount }} </p>
  </div>

  <script>
    new Vue({
      el: '#compare-page',

      data: {
        PAGE_COUNT: 3,
        clickCount: 0,
        itemA: [
          { name: '딸기', price: 10000 },
          { name: '당근', price: 2000 },
          { name: '수박', price: 12000 },
          { name: '참외', price: 3500 },
          { name: '메론', price: 4500 }
        ],
        itemB: [
          { name: '딸기', price: 10000 },
          { name: '당근', price: 2000 },
          { name: '수박', price: 12000 },
          { name: '참외', price: 3500 },
          { name: '메론', price: 4500 }
        ],
        recipeA: [],
        recipeB: []
      },

      created() {
        this.itemA.sort((a, b) => a.name.localeCompare(b.name));
        this.itemB.sort((a, b) => a.name.localeCompare(b.name));
      },

      computed: {
        page() {
          return this.clickCount % this.PAGE_COUNT;
        },

        isActivated() {
          return this.page == 2;
        },

        leftItems() {
          if(this.page == 0)  return this.itemA;
          else if(this.page == 1) return this.itemB;
          else return this.recipeA;
        },

        rightItems() {
          if(this.page == 0)  return this.recipeA;
          else return this.recipeB;
        },

        leftTotal() {
          return this.leftItems.reduce((sum, item) => sum + item.price, 0).toLocaleString();
        },

        rightTotal() {
          return this.rightItems.reduce((sum, item) => sum + item.price, 0).toLocaleString();
        },

        firstTitle() {
          if (this.page == 0) return 'A마트 장보기';
          else if (this.page == 1) return 'B마트 장보기';
          else return 'A마트 영수증';
        },

        secondTitle() {
          if (this.page == 0) return 'A마트 영수증';
          else if (this.page == 1) return 'B마트 영수증';
          else return 'B마트 영수증';
        }
      },

      methods: {
        addToRight(item) {
          if(this.page == 0) {
            this.recipeA.push(item);
            this.recipeA.sort((a, b) => a.name.localeCompare(b.name));
          }

          else if(this.page == 1) {
            this.recipeB.push(item);
            this.recipeB.sort((a, b) => a.name.localeCompare(b.name));
          }
        },

        removeFromRight(index) {
          if(this.page == 0) this.recipeA.splice(index, 1);
          else if(this.page == 1) this.recipeB.splice(index, 1);
        },

        toNext() {
          this.clickCount++;

          if (this.page == 2) this.isActivated = true;
          else this.isActivated = false;
        }
      }
    });
  </script>

</body>
</html>