<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레시피 리스트</title>
    <link rel="stylesheet" href="/resources/css/menubar.css" />
    <link rel="stylesheet" href="/resources/css/recipeRecommendStyle.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/resources/js/recipeRecommend.js"></script>
</head>
<body>
<div id="recipeRecommend-page">
    <div th:replace="common/menubar :: menubar"></div>
    <!-- 검색 창-->
    <div class="search-section">
        <p class="search-subtitle">내가 가진 재료로 무엇을 만들 수 있을까요?</p>
        <h1 class="search-title">요리 추천받기</h1>
        <div class="search-box-wrapper">
            <div class="search-box">
                <span class="search-icon">🔍</span>
                <input  v-model="ingredientName"
                        type="text"
                        class="search-input"
                        placeholder="내가 가진 재료들을 검색해보세요!"
                        @input="searchIngredient"
                        @keyup.enter="filteredRecipe"
                />
                <ul v-if="filteredIngredients.length" class="autocomplete-list">
                    <li v-for="(item, index) in filteredIngredients" :key="index" @click="selectedIngredient(item)">
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="chip-area" v-if="clickedIngredient.length">
        <div class="chip" v-for="(item,index) in clickedIngredient" :key="index" @click="removeIrdnt(index)">
            {{item}}
            <img src="/resources/image/chip_x_icon.svg" alt="삭제" class="x-icon"/>
        </div>
    </div>
    <!-- 레시피 카드 목록 -->
    <div id="card-area">
        <div v-if="searched"  class="recipe-container">
            <div v-for="recipe in recipeList" :key="recipe.recipeId" class="recipe-card">
                <div class="recipe-image-wrapper">
                    <img :src="recipe.rcpImgUrl" :alt="recipe.recipeNmKo" @click="redirectToRecipe(recipe.recipeNmKo, recipe.recipeId)"/>
                </div>
                <div class="recipe-info">
                    <h3>{{recipe.recipeNmKo}}</h3>
                    <div class="recipe-detail">
                        <div><strong>난이도</strong><span class="stars">{{getStars(recipe.levelNm)}}</span></div>
                        <div><strong>조리시간</strong> {{recipe.cookingTime}}</div>
                        <div><strong>칼로리</strong> {{recipe.calorie}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
