.menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
    margin-bottom: 40px;
    margin-top: 80px;
}

.menu-logo {
    width: 148px; /* 로고 높이 조정 */
    object-fit: cover;
    margin-bottom: 24px;
}

.menu-buttons {
    display: flex;
    gap: 30px; /* 버튼 간격 */
    justify-content: center;
}

.menu-btn {
    position: relative;
    background: transparent;
    border: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 4px;
    transition: all 0.3s ease;
}

.menu-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.menu-btn:hover {
    font-weight: 600;
}


.menu-btn:hover::after {
    transform: scaleX(1);
}


.main-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.top-section {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    color: #222;
    max-width: 250px;
}