<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>map page</h1>
    <div id="map" style="width:1500px;height:800px;"></div>

    <button onclick="sendLocation()">위치 정보 전송</button>

    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+ ${kakaoApiKey}" ></script>
    <script src="/resources/js/mapPageJs.js"></script>

</body>
</html>