<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.recipick.mapper.MartInfoMapper">
    <select id="findAll" resultType="com.project.recipick.Entity.MartInfo">
        SELECT * FROM mart_info
    </select>

    <select id="findSameMartInfo" resultType="com.project.recipick.Entity.MartInfo">
        SELECT * FROM mart_info
        WHERE m_gu_code = #{gu_name}
    </select>

    <select id="getProductByCuCode" resultType="String">
        SELECT DISTINCT m_name FROM mart_info
        WHERE m_gu_code = #{gu_name}
    </select>

</mapper>